.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  /* background-color: rgb(148, 132, 132); */
  /* background-color: rgb(20, 20, 20); */
  background-color: transparent;
  width: 100%;
  /* height: 10vh; */
  color: white;
  z-index: 1;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  background-color: #0a0a0ab2;
  color: white;
  font-weight: 100;
  width: 980px;
}

.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  /* background-color:red; */
  
}

.header_left ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
  text-align: left;
}

.header-right ul {
  width: 140%;
  display: flex;
  /* justify-content:flex-end; */
  align-items: center;
  list-style: none;
  cursor: pointer;

}

.header_left ul li img {
  max-width: 100%;
  font-size: 0.75em;
  font-weight: 150;
}

.header ul li a {
  opacity: 0.75;
  padding: 14px 0 8px;
  height: 25px;
}
.header ul li a:hover {
  opacity: 1;
}
.header_left {
  justify-content: space-evenly;
}
.header-right {
  justify-content: space-between;
}
