.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #111111fd;
  background-color: transparent;
  z-index: 1;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  color: rgba(255, 255, 255, 0.721);
  font-weight: 100;
  justify-content: center;
}

.header_left ul li:hover{
   transform: scale(1.09);
    color: rgb(255, 255, 255);
}

.header-right ul li :hover{
  transform: scale(1.09);
   color: rgb(254, 251, 246);
}

.header_container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.header_left ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
  text-align: left;
}

.header-right ul {
  width: 140%;
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  justify-content: space-between;
  margin-right: 10px;
  

}

.header_left ul li img {
  max-width: 100%;
  font-size: 0.75em;
  font-weight: 150;
}

.header ul li a {
  opacity: 0.75;
  padding: 14px 0 8px;
  height: 25px;
}
.header ul li a:hover {
  opacity: 1;
}
.header_left {
  justify-content: space-evenly;
}
.header-right {
  justify-content: space-between;
}

