.banner {
  margin-top: -0.6vh;
  height: 80vh;
  margin-bottom: -80px;
  color: rgb(255, 255, 255);
  object-fit: contain;
  /* background-color: #00000077; */
}

.banner_contents {
  margin-left: 30px;
  padding-top: 300px;
  height: 140px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description {
  width: 45rem;
  line-height: 1;
  padding: 1rem 0;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}

/* .banner_buttons {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 10rem;
  margin-right: 2rem;
  background-color: rgba(235, 235, 235, 0.5);
} */

.banner_button{
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 10px;
  margin-right: 2rem;
  background-color: rgba(17, 17, 17, 0.671);
  padding: 10px 30px;
}
.banner_button_play{
  cursor: pointer;
  color: #000000b6;
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 10px;
  margin-right: 2rem;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
}



.Play {
  color: #e3acac;
  background-color: #fff;
}

.banner_buttons :hover {
  color: #ed3434;
  transition: a110.2s;
}

.banner_fadeBottom {
  height: 40vh;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgb(37, 37, 37, 0.91),
		#111
  );
}
